<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vadim</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Student</h1>
    <img class="image" src="/images/2.jpg" alt="Student Photo">
    <p>Name: <b>Evgeniy</b></p>
    <p>Age: <b>19</b></p>
    <p>Faculty: <b>FICT</b></p>
    <p>City: <b>Obukhov</b></p>
    <div class="link2">
        <a href="https://www.google.com/maps/d/u/0/viewer?mid=1icnxFelKXtx5Q6bKgUP_5JboTO8&hl=en_US&ll=50.125220999999996%2C30.651179999999986&z=17">View location</a>
    </div>
    <div class="link">
        <a href="/">Back</a>
    </div>
</body>
</html>