<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vadim</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Student</h1>
    <img class="image" src="/images/1.jpg" alt="Student Photo">
    <p>Name: <b><%= name %></b></p>
    <p>Age: <b><%= age %></b></p>
    <p>Faculty: <b><%= faculty %></b></p>
    <p>City: <b><%= city %></b></p>
    <div class="link2">
        <a style="text-align: center" href="https://www.google.com.ua/maps/@50.4495048,30.5172794,15z?hl=ru&entry=ttu">View location</a>
    </div>
    <div class="link">
        <a href="/evgeniy">Next student</a>
    </div>
</body>
</html>