body {
    padding: 50px;
    background-color: black;
    color: white;
    font-family: "Roboto Light", sans-serif;
}
.link {
    text-align: center;
}
.link2 {
    text-align: center;
}
a {
    flex: 1;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 3;
    color: black;
    box-shadow: 0 0 5px white;
    padding: 10px;
    font-size: large;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
}

a:link,
a:focus {
    background: white;
    color: black;
}

a:hover {
    background: white;
}

a:active {
    background: grey;
    color: white;
}

.image {
    width: 20%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}